In [4]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [2]:
file_path="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(file_path, names = headers)
print(df.head(5))

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [5]:
df.replace('?', np.nan, inplace = True)
print(df.head(5))

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3               NaN  alfa-romero       gas        std          two
1          3               NaN  alfa-romero       gas        std          two
2          1               NaN  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [6]:
missing_data = df.isnull()
print(missing_data.head(5))

   symboling  normalized-losses   make  fuel-type  aspiration  num-of-doors  \
0      False               True  False      False       False         False
1      False               True  False      False       False         False
2      False               True  False      False       False         False
3      False              False  False      False       False         False
4      False              False  False      False       False         False

   body-style  drive-wheels  engine-location  wheel-base  ...  engine-size  \
0       False         False            False       False  ...        False
1       False         False            False       False  ...        False
2       False         False            False       False  ...        False
3       False         False            False       False  ...        False
4       False         False            False       False  ...        False

   fuel-system   bore  stroke  compression-ratio  horsepower  peak-rpm  \
0        False  False   False              False       False     False
1        False  False   False              False       False     False
2        False  False   False              False       False     False
3        False  False   False              False       False     False
4        False  False   False              False       False     False

   city-mpg  highway-mpg  price
0     False        False  False
1     False        False  False
2     False        False  False
3     False        False  False
4     False        False  False

[5 rows x 26 columns]

In [48]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print ("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    205
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    205
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

In [49]:
avg_norm_loss = df['normalized-losses'].astype('float').mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

Average of normalized-losses: 122.0

In [52]:
df['normalized-losses'] = df['normalized-losses'].replace(np.nan,avg_norm_loss)
print(df.head(5))

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3             122.0  alfa-romero       gas        std          two
1          3             122.0  alfa-romero       gas        std          two
2          1             122.0  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [54]:
avg_bore = df['bore'].astype('float').mean(axis = 0)
print('avg_bore:', avg_bore)

avg_bore: 3.3297512437810943

In [58]:
df['bore'] = df['bore'].replace(np.nan,avg_bore)

In [59]:
avg_bore = df['stroke'].astype('float').mean(axis = 0)
print('avg_stroke:', avg_bore)
df['stroke'] = df['stroke'].replace(np.nan,avg_bore)

avg_stroke: 3.255422885572139

In [94]:
df.dtypes

symboling               int64
normalized-losses       int32
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style             object
drive-wheels           object
engine-location        object
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type            object
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                  float64
stroke                float64
compression-ratio     float64
horsepower            float64
peak-rpm              float64
city-mpg                int64
highway-mpg             int64
price                 float64
city-L/100km          float64
highway-L/100km       float64
horsepower-binned    category
dtype: object

In [95]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [96]:
df.dtypes

symboling               int64
normalized-losses       int32
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style             object
drive-wheels           object
engine-location        object
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type            object
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                  float64
stroke                float64
compression-ratio     float64
horsepower            float64
peak-rpm              float64
city-mpg                int64
highway-mpg             int64
price                 float64
city-L/100km          float64
highway-L/100km       float64
horsepower-binned    category
dtype: object

In [97]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,8.703704,Low
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,8.703704,Low
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,9.038462,Medium
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,7.833333,Low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,10.681818,Low

In [98]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,8.703704,Low
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,8.703704,Low
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,9.038462,Medium
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,7.833333,Low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,10.681818,Low

In [99]:
df['highway-L/100km'] = 235/df['highway-mpg']
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,8.703704,Low
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,8.703704,Low
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,9.038462,Medium
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,7.833333,Low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,10.681818,Low

In [100]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

In [106]:
df["horsepower"]=df["horsepower"].astype(float, copy=True)

In [107]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

Text(0.5, 1.0, 'horsepower bins')

In [115]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]),4)
bins

array([ 48., 128., 208., 288.])

In [117]:
group_names = ['Low', 'Medium', 'High']

In [124]:
df['horsepower_binned'] = pd.cut(df["horsepower"], bins, labels=group_names, include_lowest=True)

In [125]:
df.head(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned,horsepower_binned
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,8.703704,Low,Low
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,8.703704,Low,Low
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,9.038462,Medium,Medium
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,7.833333,Low,Low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,10.681818,Low,Low
5,2,122,audi,gas,std,two,sedan,fwd,front,99.8,...,8.5,110.0,5500.0,19,25,15250.0,12.368421,9.400000,Low,Low
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,8.5,110.0,5500.0,19,25,17710.0,12.368421,9.400000,Low,Low
7,1,122,audi,gas,std,four,wagon,fwd,front,105.8,...,8.5,110.0,5500.0,19,25,18920.0,12.368421,9.400000,Low,Low
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,8.3,140.0,5500.0,17,20,23875.0,13.823529,11.750000,Medium,Medium
9,0,122,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,7.0,160.0,5500.0,16,22,NaN,14.687500,10.681818,Medium,Medium
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,8.8,101.0,5800.0,23,29,16430.0,10.217391,8.103448,Low,Low
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,8.8,101.0,5800.0,23,29,16925.0,10.217391,8.103448,Low,Low
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,9.0,121.0,4250.0,21,28,20970.0,11.190476,8.392857,Low,Low
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,9.0,121.0,4250.0,21,28,21105.0,11.190476,8.392857,Low,Low
14,1,122,bmw,gas,std,four,sedan,rwd,front,103.5,...,9.0,121.0,4250.0,20,25,24565.0,11.750000,9.400000,Low,Low

In [128]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot


# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

Text(0.5, 1.0, 'horsepower bins')

In [134]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'city-L/100km', 'highway-L/100km',
       'horsepower-binned', 'horsepower_binned'],
      dtype='object')

In [135]:
dummy_variable_1 = pd.get_dummies(df['fuel-type'])
dummy_variable_1.head(10)

   diesel   gas
0   False  True
1   False  True
2   False  True
3   False  True
4   False  True
5   False  True
6   False  True
7   False  True
8   False  True
9   False  True

In [136]:
dummy_variable_1 = dummy_variable_1.rename(columns = {'diesel':'fuel-type-diesel','gas':'fuel-type-gas'})
dummy_variable_1.head(10)

   fuel-type-diesel  fuel-type-gas
0             False           True
1             False           True
2             False           True
3             False           True
4             False           True
5             False           True
6             False           True
7             False           True
8             False           True
9             False           True

In [137]:
df = pd.concat([df,dummy_variable_1], axis = 1)
print(df)

     symboling  normalized-losses         make fuel-type aspiration  \
0            3                122  alfa-romero       gas        std
1            3                122  alfa-romero       gas        std
2            1                122  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
200         -1                 95        volvo       gas        std
201         -1                 95        volvo       gas      turbo
202         -1                 95        volvo       gas        std
203         -1                 95        volvo    diesel      turbo
204         -1                 95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     peak-rpm  city-mpg  highway-mpg    price city-L/100km highway-L/100km  \
0      5000.0        21           27  13495.0    11.190476        8.703704
1      5000.0        21           27  16500.0    11.190476        8.703704
2      5000.0        19           26  16500.0    12.368421        9.038462
3      5500.0        24           30  13950.0     9.791667        7.833333
4      5500.0        18           22  17450.0    13.055556       10.681818
..        ...       ...          ...      ...          ...             ...
200    5400.0        23           28  16845.0    10.217391        8.392857
201    5300.0        19           25  19045.0    12.368421        9.400000
202    5500.0        18           23  21485.0    13.055556       10.217391
203    4800.0        26           27  22470.0     9.038462        8.703704
204    5400.0        19           25  22625.0    12.368421        9.400000

     horsepower-binned horsepower_binned  fuel-type-diesel  fuel-type-gas
0                  Low               Low             False           True
1                  Low               Low             False           True
2               Medium            Medium             False           True
3                  Low               Low             False           True
4                  Low               Low             False           True
..                 ...               ...               ...            ...
200                Low               Low             False           True
201             Medium            Medium             False           True
202             Medium            Medium             False           True
203                Low               Low              True          False
204                Low               Low             False           True

[205 rows x 32 columns]

In [143]:
df = df.drop("fuel-type", axis = 1)
df

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,111.0,5000.0,21,27,13495.0,11.190476,8.703704,Low,False,True
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,111.0,5000.0,21,27,16500.0,11.190476,8.703704,Low,False,True
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,154.0,5000.0,19,26,16500.0,12.368421,9.038462,Medium,False,True
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,102.0,5500.0,24,30,13950.0,9.791667,7.833333,Low,False,True
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,115.0,5500.0,18,22,17450.0,13.055556,10.681818,Low,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,114.0,5400.0,23,28,16845.0,10.217391,8.392857,Low,False,True
201,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,160.0,5300.0,19,25,19045.0,12.368421,9.400000,Medium,False,True
202,-1,95,volvo,std,four,sedan,rwd,front,109.1,0.907256,...,134.0,5500.0,18,23,21485.0,13.055556,10.217391,Medium,False,True
203,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,106.0,4800.0,26,27,22470.0,9.038462,8.703704,Low,True,False
204,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,0.907256,...,114.0,5400.0,19,25,22625.0,12.368421,9.400000,Low,False,True

In [157]:
#aspiration

#dummy_variable_1 = pd.get_dummies(df['fuel-type'])
#dummy_variable_1.head(10)

dummy_variables_2 = pd.get_dummies(df['aspiration'])
dummy_variables_2.head(10)

     std  turbo
0   True  False
1   True  False
2   True  False
3   True  False
4   True  False
5   True  False
6   True  False
7   True  False
8  False   True
9  False   True

In [158]:
df = pd.concat([df, dummy_variables_2], axis = 1)

In [171]:
df = df.rename(columns = {'std':'aspiration_std','turbo':'aspiration_turbo'})
print(df.head(10))

   symboling  normalized-losses         make aspiration num-of-doors  \
0          3                122  alfa-romero        std          two
1          3                122  alfa-romero        std          two
2          1                122  alfa-romero        std          two
3          2                164         audi        std         four
4          2                164         audi        std         four
5          2                122         audi        std          two
6          1                158         audi        std         four
7          1                122         audi        std         four
8          1                158         audi      turbo         four
9          0                122         audi      turbo          two

    body-style drive-wheels engine-location  wheel-base    length  ...  \
0  convertible          rwd           front        88.6  0.811148  ...
1  convertible          rwd           front        88.6  0.811148  ...
2    hatchback          rwd           front        94.5  0.822681  ...
3        sedan          fwd           front        99.8  0.848630  ...
4        sedan          4wd           front        99.4  0.848630  ...
5        sedan          fwd           front        99.8  0.851994  ...
6        sedan          fwd           front       105.8  0.925997  ...
7        wagon          fwd           front       105.8  0.925997  ...
8        sedan          fwd           front       105.8  0.925997  ...
9    hatchback          4wd           front        99.5  0.856319  ...

   city-mpg  highway-mpg    price city-L/100km highway-L/100km  \
0        21           27  13495.0    11.190476        8.703704
1        21           27  16500.0    11.190476        8.703704
2        19           26  16500.0    12.368421        9.038462
3        24           30  13950.0     9.791667        7.833333
4        18           22  17450.0    13.055556       10.681818
5        19           25  15250.0    12.368421        9.400000
6        19           25  17710.0    12.368421        9.400000
7        19           25  18920.0    12.368421        9.400000
8        17           20  23875.0    13.823529       11.750000
9        16           22      NaN    14.687500       10.681818

   horsepower-binned fuel-type-diesel  fuel-type-gas  aspiration_std  \
0                Low            False           True            True
1                Low            False           True            True
2             Medium            False           True            True
3                Low            False           True            True
4                Low            False           True            True
5                Low            False           True            True
6                Low            False           True            True
7                Low            False           True            True
8             Medium            False           True           False
9             Medium            False           True           False

   aspiration_turbo
0             False
1             False
2             False
3             False
4             False
5             False
6             False
7             False
8              True
9              True

[10 rows x 32 columns]

In [172]:
df.to_csv('clean_df.csv')